body {
    background-color: black;
    color: aliceblue;
    font-family: "Rajdhani", sans-serif;
    font-size: 1em;
}

/* title */
#title-wrapper {
    text-align: center;
    margin-top: 120px;
}

.headline {
    text-decoration-line: underline;
    font-size: 5em;
    font-family: "Rajdhani", sans-serif;
    font-style: bold;
}

/* main content */
#main-wrapper {
    width: 800px;
    position: relative;
    margin: auto;
}

.red {
    color: rgb(187, 248, 65);
}

.green {
    color: rgb(38, 229, 159);
}

.yellow {
    color: rgb(235, 69, 23);
}


.two-columns {
    display: flex;
}

.left {
    width: 50%;
    padding: 0px 10px 0px 0px;
}

.right {
    width: 50%;
    padding: 0px 0px 0px 10px;
}


#footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 50px;
    padding-bottom: 40px;
}

/* Sketch placeholder */
#p5-canvas-container img {
    width: 800px;
}


/* home button */
#home-button a {
    position: fixed;
    right: 30px;
    top: 30px;
    padding: 10px 20px;
    color: dimgrey;
    border: solid dimgrey 0.5px;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
}

#home-button a:hover {
    background-color: coral;
    color: black;
}