h1 {
  font-family: "Dawning of a New Day", cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}


/* body{
  background-image: url("assets/bg.png");
} */

p {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-box{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.box {
  /* margin */
  /* margin: all */
  /* margin: tb rl */
  /* margin: t r b l */
  margin: 0px;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;


  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.folder-image-100 {
  width: 100px;
  height: 80px;
}

.folder-image-200 {
  width: 200px;
  height: 160px;

}

.folder-image-300 {
  width: 300px;
  height: 250px;
}

.small {
  font-family: "DotGothic16", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}

.medium {
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: medium;
}

.large {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

img:hover{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.425);

}


#folder-1{
  position: relative;
  left: 300px;
  text-align: center;
  
}
 
#folder-2{
  position: relative;
  left: 400px;
  bottom: 10px;
  text-align: center;
}

#folder-3{
  position: absolute;
  right: 100px;
  bottom: 50px;
}

#folder-4{
  position: absolute;
  right: 90px;
  top: 10px;
}
#folder-5{
  position: absolute;
  left: 30px;
  bottom: 40px;
}